html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    color: #010201;
    background-color: #F5F5F5;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 134px;
    background: #EDF2EC;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    height: 50px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 79.17px;
    height: 21.04px;
}
.logo-pic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20px;
    height: 20px;
}
.logo-1 {
    display: block;
    width: 9.92px;
    height: 17.28px;
    margin-top: -3px;
}
.logo-2 {
    display: block;
    width: 19px;
    height: 20px;
    margin-left: -9px;
    margin-top: -7px;
}
.logo-name {
    font-family: 'Inika', 'serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.nav {
    display: flex;
    align-items: center;
    width: 452px;
    height: 50px;
}
.nav-list {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-item {
    font-family: 'Inika', 'serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}
.nav-item span {
    color: #E06733;
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 532px;
    background: #EDF2EC;
}
.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1222px;
    height: 407.36px;
}
.leafs {
    width: 448.8px;
    height: 407.36px;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 549px;
    height: 340px;
}
.intro-h1 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.intro-h1 span {
    color: #499A18;
}
.intro-p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}
.intro-button {
    margin: 0;
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}